* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color: transparent;
    z-index: 2;
}

.topbar .logo {
    float: left;
    font-size: 24px;
    line-height: 50px;
    padding-left: 10px;
    font-family: sans-serif;
    color: #d4d1d1;
    cursor: pointer;
}

.topbar .logo:hover {
  color: white;
}

.topbar img {
    float: left;
    height: 40px;
    top: 0;
    padding: 5px 0 0 10px;
}

  .topbar .search-container {
    float: right;
    height: 100%;
    width: 60%;
    z-index: 2;
  }
  
  .topbar input[type=text] {
    float: right;
    padding: 6px 12px 6px 12px;
    margin-top: 10px;
    width: 50%;
    height: 30px;
    margin-right: 5px;
    font-size: 14px;
    border: solid;
    border-color: #51A7F9;
    border-width: 2px;
    border-radius: 15px;
  }

  .topbar input:focus{
    outline: none;
  }
  
  .topbar .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 10px;
    height: 30px;
    margin-right: 16px;
    background: #51a7f9;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.9;
  }

  .topbar .search-container button:hover {
    opacity: 1;
  }

  .topbar .search-container button:focus {
    outline: none;
  }

  .search-results {
    position: absolute;
    background: white;
    display: none;
    top: 45px;
    width: 30%;
    max-height: 200px;
    right: 55px;
    z-index: 2;
    border-radius: 3px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .search-results-result {
    height: 30px;
    width: 100%;
    line-height: 30px;
    padding: 0 10px;
    cursor: pointer;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .search-results-result:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-color: #2380dd #2179d5 #1a60aa;
    background-color: #338cdf;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59aaf4), color-stop(100%, #338cdf));
    background-image: -webkit-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -moz-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -ms-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -o-linear-gradient(top, #59aaf4, #338cdf);
    background-image: linear-gradient(top, #59aaf4, #338cdf);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -o-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
  }

  .search-results-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 8px 7.5px;
    border-color: transparent transparent white transparent;
    position: absolute;
    top: 39px;
    right: calc(20% + 20px);
  }

  .chart {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #21202D;
    min-height: 300px;
  }

  .controls-container  {
    position: absolute;
    top: 50px;
    height: 20px;
    left: 0;
    right: 0;
    background: #21202D;
    line-height: 20px;
    font-size: 15px;
    color: #51a7f9;
    width: 100%;
    text-align: center;
  }

  .controls {
    display: inline-block;
  }

  .controls-item {
    opacity: 0.5;
    width: 100px;
    display: inline-block;
    cursor: pointer;
    padding: 0 20px;
  }

  .controls-item-active{
    opacity: 1;
    font-weight: bold;
  }

  .controls-item:hover {
    opacity: 1;
    font-weight: bold;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }